@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

.nav {
  padding: 16px;
  background-color: #f0e5ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  display: flex;
  justify-content: left;
  align-items: center;
  color: #22115d;
  gap: 3px;
}

.nav-icon {
  height: 24px;
  width: 24px;
}

.nav-links {
  display: flex;
  justify-self: right;
  gap: 24px;
}

.nav-links a {
  color: #6e59b6;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  color: #432a92;
}

h1 {
  color: #432a92;
  font-family: Inter, sans-serif;
  font-size: 28px;
}

main {
  padding: 16px;
  background: #ffffff;
}

.recipe-link {
  text-decoration: none;
  color: #6e59b6;
  display: inline-block;
  margin-bottom: 16px;
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr;
  row-gap: 24px;
}

.recipe-item img {
  box-shadow: 0 0.6rem 1.7rem rgb(0, 0, 0, 0.4);
  border-radius: 12px;
  margin-bottom: 16px;
}

.recipe-item img:hover {
  transform: translateY(-0.8rem);
  box-shadow: 0 0.7rem 1.8rem rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
}

.container h1 {
  margin-bottom: 24px;
  margin-top: 36px;
}

.explore-btn h2 {
  color: #6e59b6;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
}

.trending {
  display: flex;
  align-items: center;
}

.trending-now {
  margin-bottom: 22px;
  font-weight: 500;
  color: #432a92;
  font-size: 22px;
}

.explore-btn {
  background-color: #e8e1ff;
  padding: 10px;
  border-radius: 8px;
  margin-top: 24px;
  margin-bottom: 36px;
  border: none;
  display: flex;
  align-items: center;
  gap: 5px;
}

.explore-icon {
  height: 20px;
  width: 20px;
  color: #22115d;
}

.explore-btn h2:hover {
  color: #432a92;
}

.rating {
  font-weight: 200;
}

.body {
  margin: none;
  padding: none;
}

footer {
  padding: 24px 18px;
  background-color: #d4e09b;
}
